{% macro card(params) %}
    <article class="card">

        <div class="card__content">
            <h4 class="card__heading">{{params.heading}}</h4>
            <p class="card__label card__label--publishDate">{{params.publishDate}}</p>
            <p class="card__excerpt">{{params.excerpt}}</p>
            <ul class="card__label-list">
            {% for labelName in params.labels %}
                <li class="card__label card__label--pill">{{labelName}}</li>
            {% endfor %}
            </ul>
        </div>
        <figure class="card__media">
            <img class="card__image" src="{{params.imageSrc}}" alt="" />
        </figure>
    </article>
{% endmacro %}
