---
title: A new title from frontmatter
---

{%- from "./_includes/components/card.njk" import card %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/styles.css"/>
    <title>{{title}}</title>
</head>
<body>
    <h1>A sample page</h1>
    {{ card() }}
</body>
</html>
