---
title: A new title from frontmatter
---

{%- from "./_includes/components/card.njk" import card %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/styles.css"/>
    <title>{{title}}</title>
</head>
<body>
    <h1>A sample page</h1>
    <div class="card-list">
        {{ card({
            publishDate: "2021-07-29T15:35:26.637Z",
            imageSrc: "http://placeimg.com/640/480/sports",
            heading: "The role of AI in the design industry",
            excerpt: "The idea of creating a machine that can mimic human intelligence is a mainstay in the field of technology.",
            labels: ["Design","Development"]
        }) }}

        {{ card({
            publishDate: "2021-07-29T15:35:26.637Z",
            imageSrc: "http://placeimg.com/640/480/sports",
            heading: "The role of AI in the design industry",
            excerpt: "The idea of creating a machine that can mimic human intelligence is a mainstay in the field of technology.",
            labels: ["Design","Development"]
        }) }}

        {{ card({
            publishDate: "2021-07-29T15:35:26.637Z",
            imageSrc: "http://placeimg.com/640/480/sports",
            heading: "The role of AI in the design industry",
            excerpt: "The idea of creating a machine that can mimic human intelligence is a mainstay in the field of technology.",
            labels: ["Design","Development"]
        }) }}

        {{ card({
            publishDate: "2021-07-29T15:35:26.637Z",
            imageSrc: "http://placeimg.com/640/480/sports",
            heading: "The role of AI in the design industry",
            excerpt: "The idea of creating a machine that can mimic human intelligence is a mainstay in the field of technology.",
            labels: ["Design","Development"]
        }) }}

        {{ card({
            publishDate: "2021-07-29T15:35:26.637Z",
            imageSrc: "http://placeimg.com/640/480/sports",
            heading: "The role of AI in the design industry",
            excerpt: "The idea of creating a machine that can mimic human intelligence is a mainstay in the field of technology.",
            labels: ["Design","Development"]
        }) }}
    </div>

</body>
</html>
